// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$main-color: #ec2029;
$comp-color: #2f2e2e;
$third-color: #f7f7f7;