body{
    background-image: url(../images/fondo.png);
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
   
    color: red;
}

h1{
    text-align: center;
    color: blue;
}

.sociales a{
    text-decoration: none;
}


.destacado{
    font-family: fantasy;
    font-size: 22px;
    color: white;
    background-color: rgba(151, 107, 255, 0.8);
    text-align: justify;
}

